---
import Section from "@/components/Section.astro"
import type { CV } from "@/types.ts"
interface Props {
  cv: CV
}

const { cv: { basics } } = Astro.props
const { summary, title } = basics
---

<Section title={title}>
  <p>
    {summary}
  </p>
</Section>
